* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    display: flex;
    height: 100px;
    background-color: blueviolet;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-location {
    height: 200px;
    background-color: aqua;
}

.main-content{
    height:calc(100vh - 350px);
    display: flex;
    background-color: beige;
}

.info-container{
    width:50%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.map-conatiner{
    width:50%;
    background-color: blueviolet;
}