@font-face {
    font-family: ABeeZee;
    src: url(../fonts/ABeeZee-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: ABeeZee;
}

body {
    margin: 0;
}

button {
    font-family: ABeeZee;
    cursor: pointer;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #1d3557;
}

.logo {
    margin-inline-start: 5%;
    color: #f1faee;
    font-size: 2rem;
}

.search {
    display: flex;
    align-items: center;
    margin-inline-end: 5%;
}

.search-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 30px;
}

.search input {
    background-color: #f1faee;
    font-family: ABeeZee;
    font-size: 1.2em;
    height: 40px;
    padding: 0;
    padding-inline-start: 5%;
}

.go-location-btn, .my-location-btn, .copy-location-btn {
    background-color: rgba(128, 128, 128, .5);
    color: #f1faee;
    font-size: 1.2em;
    height: 40px;
    padding: 0 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-location {
    height: 100px;
    background-color: #457b9d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-location {
    margin-inline-start: 5%;
}

.copy-location-btn {
    margin-inline-end: 5%;
}

.main-content{
    height:calc(100vh - 200px);
    display: flex;
    background-color: beige;
}

.info-container{
    width:50%;
    display: flex;
    flex-direction: column;
}

.weather {
    background-color: #a8dadc;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-info {
    background-color: #e63946;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.locations-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 80%;
    height:100%;
}

.location-card{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    height:50px;
}

.map-container{
    background-color: #f1faee;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height:200px;
    background-color: #bcebd7;
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
}

.btn-container{
    margin-top: 20px;
}

.copy-url{
    height:0;
    opacity:0;
}
.hide{
    display: none;
}

