* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    display: flex;
    height: 100px;
    background-color: blueviolet;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-location {
    height: 100px;
    background-color: aqua;
}

.main-content{
    height:calc(100vh - 250px);
    display: flex;
    background-color: beige;
}

.info-container{
    width:50%;
    display: flex;
    flex-direction: column;
}

.weather {
    background-color: lightblue;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-info {
    background-color: lightcoral;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-info table td {
    padding: 10px 70px;
}

.map-container{
    background-color: blueviolet;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400px;
    height:200px;
    background-color: lightcoral;
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
}

.copy-url{
    height:0;
    /* width:0; */
    opacity:0;
}
.hide{
    display: none;
}